{% extends "base.html" %}

{% block title %}Estadísticas - Actividades de Gatitos{% endblock %}

{% block content %}
    <div class="nav-buttons">
        <a href="{{ url_for('index') }}" class="back-button">Volver a la portada</a>
    </div>
    
    <h1>Estadísticas de Actividades de Gatitos</h1>

    <div class="grafico">
      <h3>Actividades por día</h3>
      <img src="{{ url_for('static', filename='img/lineas_actividades_dia.png') }}" alt="Gráfico de líneas - Actividades por día" />
    </div>

    <div class="grafico">
      <h3>Distribución por tipo de actividad</h3>
      <img src="{{ url_for('static', filename='img/torta_temas.png') }}" alt="Gráfico de torta - Actividades por tema" />
    </div>

    <div class="grafico">
      <h3>Actividades por horario y mes</h3>
      <img src="{{ url_for('static', filename='img/barras_horarios.png') }}" alt="Gráfico de barras - Horario de actividades" />
    </div>

{% endblock %}
